.btn {
    font-size: 1rem;
    font-weight: bold;
    justify-items: center;
    border-radius: 20px;
    text-align: center;
    text-wrap: nowrap;
    font-family: 'Jost', sans-serif;
}

.btn__primary {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--aurora-soft);
    text-decoration: none;
    padding: 8px 18px;
    border: 1px solid rgba(166, 127, 181, 0.3);
    border-radius: 999px;
    transition: all 0.2s;
}

.btn__primary:hover {
    background: rgba(180, 130, 255, 0.08);
    border-color: rgba(180, 130, 255, 0.5);
    box-shadow: 
    0 0 20px rgba(180, 130, 255, 0.08),
    inset 0 0 20px rgba(180, 130, 255, 0.03);
}

.outline__btn {
    border: 2px solid var(--indigo-profundo);
    color: var(--indigo-profundo);
}

.outline__btn:hover {
    box-shadow: 0 4px 12px var(--roxo-opaco);
}
