/* Titulo principal reutilizavel */
.title {
    font-size: 3rem;
    width: 90%;
}

/* Subtitulo claro dentro de heros */
.hero__content .subtitle {
    color: #616161;
    font-size: 1.3rem;
    margin: 50px 0 60px;
    width: 70%;
}

/* Subtitulo escuro dentro de heros */
.hero__content .dark__subtitle {
    color: #cccccc;
    font-size: 1.3rem;
    margin: 50px 0 60px;
    width: 70%;
}

