/* Estrutura do cabecalho */
.header__content {
    align-items: center;
    border-bottom: 2px solid #ccc;
    display: flex;
    padding: 20px;
}

/* Lista de links da navegacao */
.nav {
    display: flex;
    font-size: 15px;
    gap: 20px;
    justify-content: center;
    width: 80%;
    word-wrap: normal;
}

/* Link ativo da navegacao */
.nav__active {
    color: var(--indigo-profundo);
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    position: relative;
}

/* Linha inferior do link ativo */
.nav__active::after {
    background: var(--indigo-profundo);
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Container da logo */
.header__logo {
    margin: 0;
    padding-top: 2px;
    transform: translateY(6px);
    width: 10rem;
}

/* Imagem da logo */
.header__logo img {
    height: auto;
    width: 100%;
}

/* Ajuste do botao dentro do cabecalho */
.header .btn {
    font-size: .8rem;
    padding: 15px 15px;
}
