/* Estrutura do cabecalho */

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* distribui logo, nav e botão */
    border-bottom: 1px solid var(--dusk-light);
    padding: 14px 40px;
}
/* Lista de links da navegacao */
.nav {
    font-weight: 300;
    display: flex;
    font-size: 15px;
    gap: 20px;
    justify-content: center;
    width: 80%;
    word-wrap: normal;
}

.nav a {
    font-family: 'Jost', sans-serif;
    color: var(--mist-dim)
}

/* Link ativo da navegacao */
.nav .nav__active {
    color: var(--aurora);
    display: inline-block;
    font-weight: bold;
    position: relative;
}

/* Linha inferior do link ativo */
.nav__active::after {
    background: var(--indigo-profundo);
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Container da logo */
.logo {
    display: flex;
    width: 10rem;
}

/* Imagem da logo */
.logo .ico {
    height: auto;
    width: 25%;
}

.logo .name {
    color: var(--mist-dim);
    font-size: 1.5rem;
    padding-left: 15px;
    align-self: center;
}